.footer {
  background: #f5f8ff;
  color: var(--text);
  padding: 1.5rem 1.5rem 1rem;
  width: 100%;
  position: relative;
  font-family: var(--font-sans);
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
}

.contact {
  font-size: 0.95rem;
  line-height: 1.6;
  color: var(--muted);
}

.right {
  min-width: 100px;
}

.icons {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
	text-transform: uppercase;
	gap: 5px;
}

/* Copyright section */
.copy {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.85rem;
  color: var(--muted);
  border-top: 1px solid #ddd;
  padding-top: 1rem;
}

.subheader {
  text-transform: uppercase;
  font-size: 2rem;
  font-family: var(--font-serif);
  font-weight: 800;
}

.subheader a:hover {
  color: #000000;
  font-style: italic;
  transform: translateX(4px);
}

.icons a:hover {
  color: #000000;
	font-weight: 600;
  transform: scale(1.1);
}

/* Responsive layout */
@media (max-width: 768px) {
  .inner {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .left,
  .right {
    width: 100%;
  }
}
