.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background: white;
  border-bottom: 1px solid #eee;
  z-index: 1000;
  overflow-x: hidden;
}

.logo a {
  font-family: var(--font-serif);
  font-size: 1.5rem;
  color: var(--accent);
  font-weight: 400;
  font-style: italic;
  z-index: 999;
}

.logo a:hover {
  color: #000000;
  font-weight: 600;
  font-style: normal;
  transform: translateX(4px);
}

.nav {
  display: flex;
  gap: 2rem;
  text-transform: uppercase;
}

.nav a {
  position: relative;
  font-family: var(--font-sans);
  color: var(--text);
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: var(--accent);
  transition: width 0.3s ease;
}

.nav a:hover {
  color: var(--accent);
}

.nav a:hover::after {
  width: 100%;
}

.nav .contact a {
  font-weight: 800;
}

/* Hamburger button */
.menuButton {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 24px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
}

.bar {
  width: 100%;
  height: 3px;
  background: var(--text);
  margin: 3px 0;
  transition: all 0.3s ease;
}

/* Transformations when open */
.bar1 {
  transform: rotate(45deg) translate(5px, 5px);
}
.bar2 {
  opacity: 0;
}
.bar3 {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Mobile menu */
@media (max-width: 768px) {
  .menuButton {
    display: flex;
  }

  .nav {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: calc(100vh - var(--header-height));
    position: fixed;
    top: 70px;
    gap: 2rem;
    padding-top: 3rem;
    right: 0;
    background: rgb(255, 255, 255);
    transform: translateY(-100%);
    transition: transform 0.8s ease;
    overflow-x: hidden;
    z-index: -999;
  }

  .nav.open {
    transform: translateX(0);
  }
  .nav a {
    font-weight: 500;
    font-size: clamp(2.25rem, 5vw + 1.5rem, 4rem);
  }
}
