.snapContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ---------- HERO ---------- */
.hero {
  background: #ffffff;
  text-align: center;
  color: var(--text);
  position: relative;
}

.heroContent {
  max-width: 800px;
  margin: 0 auto;
  z-index: 2;
}

.name {
  font-family: var(--font-serif);
  color: var(--accent);
	font-size: clamp(1.5rem, 4vw + 1rem, 3.25rem);
  font-weight: 500;
  font-style: italic;
  margin: -10px;
}

.subtitle {
  font-family: var(--font-serif);
	font-size: clamp(1.5rem, 2.5vw + 0.5rem, 2rem);
  color: var(--muted);
  margin-top: 12px;
  margin-bottom: 6px;
}

.subtext {
  max-width: 500px;
}

.navLinks {
  display: flex;
  justify-content: center;
  gap: 0; /* start collapsed */
  animation: spreadOut 0.8s ease forwards;
	font-size: clamp(1.2rem, 2.5vw + 0.5rem, 1.5rem);

}

.navLinks a {
  color: var(--accent);
  font-family: var(--font-sans);
  font-weight: 600;
  position: relative;
  opacity: 0;
  transform: scale(0.9);
  animation: fadeIn 0.7s ease forwards;
  animation-delay: 0.2s; /* slightly after spread */
}

@keyframes spreadOut {
  from {
    gap: 0;
    transform: scale(0.9);
  }
  to {
    gap: 24px;
    transform: scale(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.navLinks a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px;
  width: 0;
  background: var(--accent);
  transition: width 0.25s ease;
}

.navLinks a:hover::after {
  width: 100%;
}

/* ---------- ABOUT ---------- */
.about {
  background: #f5f8ff;
  min-height: fit-content;
  text-align: justify;
  position: relative;
  z-index: 2;
  padding-top: 0rem;
  /* margin-top: -5vh; */
  width: 100%;
}

.aboutTitle {
  font-family: var(--font-serif);
  font-style: italic;
  font-weight: 600;
  letter-spacing: 50px;
	font-size: clamp(1.5rem, 4vw + 1rem, 3.25rem);
  opacity: 0.3;
  margin: 0rem;
  transform: translateY(-5vh);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.inView {
  opacity: 1;
  margin: 1rem;
  transform: translateY(0);
  animation: collapseIn 0.8s ease forwards;
}

@keyframes collapseIn {
  from {
    letter-spacing: 50px;
  }
  to {
    letter-spacing: 2px;
  }
}

.profilePic {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  margin: 20px;
}

.aboutText {
  max-width: 600px;
  color: var(--muted);
  line-height: 1.6;
}


/* Responsive tweaks */
@media (max-width: 900px) { 
  .aboutTitle {
    letter-spacing: 20px;
  }

  @keyframes collapseIn {
    from {
      letter-spacing: 20px;
    }
    to {
      letter-spacing: 2px;
    }
  }
}

@media (max-width: 480px) {
  .profilePic {
    width: 250px;
    height: 250px;
  }
}
