/* ================================
   Responsive Styles
   - Media Queries for layout & components
   ================================ */

@media (max-width: 768px) {
  .project-detail {
    grid-template-columns: 1fr;
  }
  .right-column {
    text-align: center;
  }
  .projects-column {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) {
  .toggle-button {
    padding: 0 40px;
  }
}
