/* ================================
   Responsive Styles
   - Media Queries for layout & components
   ================================ */

@media (max-width: 768px) {
  .project-detail {
    grid-template-columns: 1fr;
  }
  .right-column {
    text-align: center;
  }
  .projects-column {
    grid-template-columns: 1fr;
  }
  header {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 1rem;
    gap: 0.5rem;
  }
  header nav {
    justify-content: center;
    gap: 0.5rem;
  }
  .main-content {
    margin: 0;
  }
  .consult-links {
    flex-direction: column;
    gap: 0.5rem;
  }
		.consult-section {
		padding: 0rem;
	}
}

@media (min-width: 768px) {
  .toggle-button {
    padding: 0 40px;
  }
}

@media (max-width: 480px) {
  footer {
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
  }
}
